*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
  background-color: #3F51B5;
}

.mdc-drawer {
  width: 240px;
}

.mdc-list-item {
  padding: 20px 24px;
}

.mdc-list-item__text{
  margin-left: 20px;
}

.mdc-list-item--activated,
.mdc-list-item:hover {
  background-color: rgb(243 244 246);
}

.mdc-list-item__ripple::before {
   background-color: rgb(243 244 246) !important;
}

.mdc-list-item__ripple::after {
   background-color: rgb(243 244 246) !important;
}
.mdc-text-field--filled .mdc-text-field__input,
.mdc-text-field--filled:before,
.mdc-text-field--filled .mdc-floating-label {
  background-color: transparent;
}
.mdc-text-field--filled .mdc-text-field__input,
.mdc-text-field--filled:before,
.mdc-text-field--filled .mdc-floating-label
{
  background-color: #FFFFFF !important; 
}
.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: #ffffff !important;
}
.mdc-text-field{
  padding: 0px;
} 
.mdc-text-field .mdc-floating-label{
  margin-left:-15px;
}
.mdc-data-table__header-cell{
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
}
.mdc-data-table__header-cell--numeric .mdc-data-table__sort-icon-button{
  font-size: 12px !important;
}



